* {box-sizing: border-box;}
body{
  font-family: 'PT Sans Caption', sans-serif;
}
#divIn{
    float: left;
    width: 50%;
    text-align: center;
    
}
#divOut{
    float: right;
    width: 50%;
    border-left: 1px solid black;
    height: 800px;
    margin-top: 8px;
      
    
}
#headers{
    width: 110%;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    font-size: 50px;
    margin: -8px;
   
}
* {box-sizing: border-box;}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
h1{
    color: dodgerblue;
}
#div1{
    margin: 10%;
}

#div2{
  background-color: rgb(211, 235, 247);
  margin: 10%;
}
#h1id{
  margin-left: 40%;
  color: white;
  
}
#item{
float: right;
  margin-right: 20%;
  margin-top: 2%;
  font-size: 20px;
  
}
#blah{
  margin-bottom: 5%;
  margin-left: 5%;
  
}

p{
  color: black;
}
#h1div{
  background-color:dodgerblue ;
}
#btn{
  background-color: dodgerblue ;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
